/*----------------------------------------------------

      Headlines - atoms 

--------------------------------------------------- */

/*-------------------------------------------
      -----    subheadline    -----   
------------------------------------------- */
.subheadline {
    font-family: 'Raleway', san-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 0;
    + .h1, 
    + h1 {
        margin-top: $base * 0.5;
    }
    + h2,
    + .h2 {
        margin-top: 0;
    }
    + h3,
    + .h3 {
        margin-top: 0;
    }
    &.padding-bottom {
        padding-bottom: $base * 0.5;
    }
}

