.m-grid-portfolio {
  .container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    > li {
      list-style: none;
      display: flex;
      align-items: stretch;
      > a {
        align-items: stretch;
        display: flex;
      }
      > a:after {
        display: none;
      }
      .inner {
        position: relative;
        margin: $base;
        margin-left: 0;
        background-color: $offwhite;
        align-items: stretch;
        display: flex;
        .inner-border {
          border-left: 1px solid $black;
          margin-left: $base;
        }
      }
      .text-content {
        padding: 2 * $base;
        padding-left: $base;
        h3 {
          margin-top: 0;
          font-size: 2em;
          font-family: "Playfair Display";
          font-style: italic;
          position: relative;
          &:before {
            content: "";
            width: 15px;
            height: 1px;
            position: absolute;
            left: -23px;
            top: 20px;
            background-color: black;
          }
        }
      }
      figure {
        width: 300px;
        height: 300px;
        margin: 0;
        overflow: hidden;
        .image-wrapper {
          //filter: grayscale(100%);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top center;
          position: absolute;
          bottom: -$base;
          right: -$base;
          width: 300px;
          height: 300px;
          box-shadow: 0px 0px 8px 0px #00000033;
          transition: all ease-in 200ms;
        }
        img {
          width: 100%;
          opacity: 0;
        }
      }
    }
    > li + li {
      margin-top: $base * 2;
    }
  }
}

@media (min-width: $tablet) {
  .m-grid-portfolio {
    .container {
      > li {
        width: calc(100% / 2);
        .inner {
          margin: $base * 2;
          margin-left: 0;
        }
      }
      > li + li {
        margin-top: 0;
      }
    }
  }
}

@media (min-width: $desktop) {
  .m-grid-portfolio {
    .container {
      > li {
        width: calc(100% / 3);
      }
    }
    li figure .image-wrapper {
      filter: grayscale(100);
    }
    li:hover {
      figure .image-wrapper {
        filter: grayscale(0);
        transform: scale(1.01);
        box-shadow: 0px 0px 8px 0px #00000066;
      }
    }
  }
}
