.m-skill-bar-wrapper {
    margin: 0;
    padding: 0;
    margin-top: $base;
    > li {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        & + li {
            margin-top: $base * 0.5;
        }
    }
}
/*-------------------------------------------
      -----    Media query     -----   
------------------------------------------- */
@media (min-width: $tablet) {
    .m-skill-bar-wrapper {
        margin-left: $base;
    }
}
@media (min-width: $desktop) { 
    .m-skill-bar-wrapper {
        margin-left: $base * 3;
    }
    
}